@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h5>Este é um CRUD de produtos e fornecedores e clientes criado utilizando .NET core 3.1 e SQL Server com Entity Framework.</h5>
</div>